
::-webkit-scrollbar {
    display: none;
}

body{
    overflow-x: hidden!important;
}

:root {
  /* --primaryColor: #566bc7; */
  --primaryColor: linear-gradient(to right, #566bc7 , #8b62de);
  --primaryTextColor: #fff;
}

.mdi-filled {
  color: rgb(24, 32, 43)!important;
}
 *:focus
 {
 outline:none!important;
 }